In [21]:
#step 1: Load the dataset into a pandas DataFrame and print it along with its shape
import pandas as pd

# creating dataframe containing csv data
df = pd.read_csv('Social_Network_Ads.csv')

print (df) # printing dataframe

df.shape # printing shape

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

(400, 5)

In [22]:
#step 2: Print the column names and the data type of each column
df.dtypes

User ID             int64
Gender             object
Age                 int64
EstimatedSalary     int64
Purchased           int64
dtype: object

In [27]:
# encoding 'Gender' to be binary 
from sklearn import preprocessing

l_e = preprocessing.LabelEncoder()

df['Gender'] = l_e.fit_transform(df['Gender'])
df['User ID'] = l_e.fit_transform(df['User ID'])
print(df.tail(50))

     User ID  Gender  Age  EstimatedSalary  Purchased
350      377       0   38           113000          1
351       38       1   37            75000          0
352       34       0   42            90000          1
353      299       0   37            57000          0
354      213       1   36            99000          1
355       70       1   60            34000          1
356      342       1   54            70000          1
357      160       0   41            72000          0
358        6       1   40            71000          1
359      227       1   42            54000          0
360       14       1   43           129000          1
361      343       0   53            34000          1
362      323       0   47            50000          1
363      325       0   42            79000          0
364      131       1   42           104000          1
365      385       0   59            29000          1
366        8       0   58            47000          1
367      159       1   46            88000          1
368      346       1   38            71000          0
369       98       0   54            26000          1
370       78       0   60            46000          1
371      334       1   60            83000          1
372      104       0   39            73000          0
373      226       1   59           130000          1
374      365       0   37            80000          0
375      121       0   46            32000          1
376       54       0   46            74000          0
377      376       0   42            53000          0
378       15       1   41            87000          1
379      297       0   58            23000          1
380      183       1   42            64000          0
381      157       1   48            33000          1
382      238       0   44           139000          1
383      223       1   49            28000          1
384      383       0   57            33000          1
385      336       1   56            60000          1
386      251       0   49            39000          1
387      100       1   39            71000          0
388      164       1   47            34000          1
389      154       0   48            35000          1
390      386       1   48            33000          1
391       41       1   47            23000          1
392      295       0   45            45000          1
393      109       1   60            42000          1
394      308       0   39            59000          0
395      196       0   46            41000          1
396      220       1   51            23000          1
397      130       0   50            20000          1
398      305       1   36            33000          0
399       45       0   49            36000          1

In [28]:
#step 3: Normalize the features in the input dataset


X = df.iloc[:, [1, 2, 3]].values # we are only going to standardize 'Age', 'EstimatedSalary' 
y = df.iloc[:, 4].values # target variable is 'Purchase'

# splitting model into test and train groups 
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 44)

# using standard scaler for input features 
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [32]:
#step 4: Perform Random Forest Classification using sklearn. Make sure to enable bootstrap and oob_score
#step 5: Find the oob error for different numbers of trees. Figure out which parameter sets the number of trees.
for i in range(15, 150):
    forest = RandomForestClassifier(bootstrap=True, oob_score = True, n_estimators =i)
    forest.fit(X_train, y_train)
    print(i, round(1-forest.oob_score_, 5))

15 0.13929
16 0.125
17 0.12143
18 0.13929
19 0.13571
20 0.12857
21 0.11429
22 0.11429
23 0.11786
24 0.125
25 0.125
26 0.1
27 0.125
28 0.12143
29 0.12143
30 0.125
31 0.11786
32 0.11071
33 0.125
34 0.11071
35 0.12143
36 0.11071
37 0.11071
38 0.1
39 0.11071
40 0.11429
41 0.11786
42 0.11786
43 0.12143
44 0.11786
45 0.11429
46 0.10714
47 0.11786
48 0.11071
49 0.12143
50 0.11429
51 0.12143
52 0.11071
53 0.11786
54 0.11429
55 0.10714
56 0.10714
57 0.11786
58 0.11429
59 0.11786
60 0.125
61 0.10357
62 0.10357
63 0.11429
64 0.125
65 0.10357
66 0.1
67 0.10714
68 0.11071
69 0.10714
70 0.11429
71 0.11429
72 0.10714
73 0.11071
74 0.10714
75 0.10714
76 0.10357
77 0.11071
78 0.11071
79 0.11786
80 0.11786
81 0.11429
82 0.125
83 0.11786
84 0.11071
85 0.11429
86 0.10357
87 0.11429
88 0.11429
89 0.11429
90 0.11071
91 0.10357
92 0.10714
93 0.1
94 0.10357
95 0.10714
96 0.10357
97 0.11071
98 0.11429
99 0.10714
100 0.11786
101 0.10714
102 0.11071
103 0.11429
104 0.11786
105 0.11429
106 0.1
107 0.10714
108 0.10714
109 0.11429
110 0.1
111 0.10357
112 0.11786
113 0.10357
114 0.11429
115 0.10714
116 0.11071
117 0.10714
118 0.11429
119 0.11429
120 0.10714
121 0.11071
122 0.1
123 0.10714
124 0.10714
125 0.11071
126 0.10357
127 0.11071
128 0.11071
129 0.11071
130 0.11071
131 0.10357
132 0.11071
133 0.10714
134 0.10357
135 0.11071
136 0.11071
137 0.10357
138 0.11429
139 0.10714
140 0.11071
141 0.10357
142 0.10714
143 0.11071
144 0.11429
145 0.1
146 0.11071
147 0.11429
148 0.11429
149 0.11071

In [34]:
#step 6: Plot the oob error vs number of trees. (Similar to example in class) 
#######  and find the number of trees with the lowest error. If multiple, report all.
    
import matplotlib.pyplot as plt

TypeError: 'module' object is not callable